* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

/* body {
    /* background-color: rgb(61, 58, 58) 
} */

h1 {
    /* font-size: 50px; */
    /* color: #2c6635; */
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
}

.dot {
    /* height: 30px;
    width: 30px; */
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin: 0 21px 0 21px;
    margin: 0 10px 0 10px;
    height: 10px;
    width: 10px;
}

.navContainer {
    border: none;
    display: flex;
    justify-content: center;
    width: 100%
}

.fa {
    padding: 0 20px 0px 20px;
    padding-left: 8%;
    font-size: 2em;
    /* color: #052e0b; */
    /* color: red; */
}

.repLink {
    /* color: #052e0b; */
    /* color: red; */
    font-size: 25px;
}

.fa:hover {
    /* color: black; */
}

.repLink:hover {
    /* color: black; */
}

.tabArea {
    /* margin: 25px 43px 0 43px; */
    width: 100%;
    margin: 10px 0 -1px 0;
}

.tabContainer {
    /* width: 30%; */
    display: inline-block;
    width: 100%;
}

.tab {
    font-size: 17px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    width: 32%;
    /* height: 40px; */
    height: 25px;
}

.tab:hover {
    /* background-color: #2c6635; */
}

.about-me {
    /* background-color: black;
    color: white; */

}

.project1 {
    /* background-color: black;
    color: white; */
    margin-left: .01%;
    margin-right: .01%;
}

.project2 {
    /* background-color: black;
    color: white; */
}

.tabContent {
    /* display: none; */
    padding: 6px 12px;
    border: 4px solid black;
    width: 100%;
}
.name {
    width: 95vw;
    margin-top: 30px;
}

.test {
    width: 95vw
}

.navBar {
    width: 95vw
}

p {
    font-size: 30px;
    letter-spacing: 2px;
    /* color: #2c6635; */
    margin: 0;
}

.lang,
li {
    font-size: 25px;
    letter-spacing: 2px;
    /* color: #2c6635; */
    margin: 0;
}

h2 {
    font-size: 50px;
    margin: 20px 0 10px 0;
}

@media only screen and (min-width:1000px) {
}
@media only screen and (min-width:800px) {

}